@use 'sass:color';
@use 'variables' as vars;

.button {
    border-radius: 3.125rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 0.75rem;
    letter-spacing: 0.075rem;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    background: vars.$color-accent;
    color: vars.$color-surface;

    &:hover {
        background: color.adjust(vars.$color-accent, $lightness: -5%);
    }

    &--small {
        width: 11.1875rem;
        height: 2.9rem;
        padding: 0 0.5rem;
    }

    &--medium {
        width: 13.5rem;
        height: 2.925rem;
        padding: 0 1rem;
    }

    &--large {
        width: 100%;
        height: 3.5rem;
        padding: 0 1.5rem;
    }
}
