$font-base: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

$color-surface: #ffffff;
$color-text: #333333;
$color-header: #ebebeb;
$color-product-background: #ebf6f8;
$color-accent: #ff5c00;

$header-icon-margin: 3.75rem 1.625rem 1.625rem 1.625rem;
