@use 'sass:color';
@use 'variables' as vars;

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: vars.$font-base;
  background: vars.$color-surface;
  color: vars.$color-text;
  text-align: center;
  overflow-y: auto;
}

.header {
  width: 100%;
  height: 7.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$color-header;
}

%header-icon {
  margin: vars.$header-icon-margin;
}

.brand-logo,
.basket-icon {
  @extend %header-icon;
}

.description-container {
  padding: 1.875rem 2.5rem;
}

.description-header {
  font-size: 2rem;
  font-weight: normal;
}

.description-body {
  font-size: 1rem;
  font-weight: normal;
  font-family: vars.$font-secondary;
  line-height: 150%;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.83125rem 1.90625rem;
  background-color: vars.$color-product-background;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2.8125rem;
  background-color: vars.$color-surface;
  border-radius: 10px;
  box-shadow: 3px 4px 10px 10px rgba(194, 230, 237, 0.5);
}

.product-image {
  width: 100%;
  height: auto;
}

.product-title {
  font-weight: normal;
  font-size: 1.25rem;
}

.product-price {
  color: vars.$color-accent;
  font-family: vars.$font-secondary;
  font-size: 1rem;
  line-height: 140%;
}

.add-to-bag-button {
  width: 11.1875rem;
  height: 2.9rem;
  border-radius: 3.125rem;
  background: vars.$color-accent;
  color: vars.$color-surface;
  // padding: 0.9375rem 3.125rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 0.9375rem;
  letter-spacing: 0.075rem;
  font-weight: 400;

  &:hover {
    background: color.adjust(vars.$color-accent, $lightness: -5%);
  }
}