@use 'sass:color';
@use 'variables' as vars;

:root {
  --grid-columns: 6;
  --grid-margin: 1.875rem;
  --grid-gutter: 0.625rem;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  margin-top: 7.25rem;
  font-family: vars.$font-base;
  background: vars.$color-surface;
  color: vars.$color-text;
  text-align: center;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  column-gap: var(--grid-gutter);
  row-gap: var(--grid-margin);
  padding-inline: var(--grid-margin);
  align-content: start;
  width: 100%;
}

body > * {
  grid-column: 1 / -1;
}

.body-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  column-gap: var(--grid-gutter);
  row-gap: var(--grid-margin);
}

.body-container > * {
  grid-column: 1 / -1;
}

// .header {
//   height: 7.25rem;
//   display: grid;
//   grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
//   align-items: center;
//   background-color: vars.$color-header;
// }

.header {
  width: 100vw;
  left: 0;
  top: 0;
  position: absolute;
  height: 7.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$color-header;
  padding: 3.75rem 1.625rem 1.625rem 1.625rem;
}

.brand-logo {
  grid-column: 1 / span 2;
  justify-self: start;
}

.basket-icon {
  grid-column: -2 / -1;
  justify-self: end;
}

.description-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  row-gap: var(--grid-gutter);
  padding-block: 1.875rem;
}

.description-header,
.description-body {
  grid-column: 1 / span 6;
}

.description-header {
  font-size: 2rem;
  font-weight: normal;
}

.description-body {
  font-size: 1rem;
  font-weight: normal;
  font-family: vars.$font-secondary;
  line-height: 150%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  column-gap: var(--grid-gutter);
  row-gap: var(--grid-margin);
  padding-inline: var(--grid-margin);
  align-content: start;
  align-items: center;
  justify-items: center;
  padding-block: 3.83125rem;
  background-color: #ebf6f8;
  width: 100vw;
  margin-left: -1.875rem;
}

// .product-card-bg {
//   background-color: #ebf6f8;
//   width: 100vw;
//   position: relative;
// }

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2.8125rem;
  background-color: vars.$color-surface;
  border-radius: 10px;
  box-shadow: 3px 4px 10px 10px rgba(194, 230, 237, 0.5);
  grid-column: 1 / span 6;
  justify-self: center;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-title {
  font-weight: normal;
  font-size: 1.25rem;
}

.product-price {
  color: vars.$color-accent;
  font-family: vars.$font-secondary;
  font-size: 1rem;
  line-height: 140%;
}

.add-to-bag-button {
  width: 11.1875rem;
  height: 2.9rem;
  border-radius: 3.125rem;
  background: vars.$color-accent;
  color: vars.$color-surface;
  // padding: 0.9375rem 3.125rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 0.75rem;
  letter-spacing: 0.075rem;
  font-weight: 400;

  &:hover {
    background: color.adjust(vars.$color-accent, $lightness: -5%);
  }
}

//Your Bag
.basket-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  // z-index: 10;
  display: none;

  .basket-bg-overlay .active {
    display: block;
  }
}

.basket-container {
  padding-top: 2.6875rem;
  // position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  width: 23rem;
  height: 100vh;
  background-color: vars.$color-surface;
  display: none;

  .basket-container .active {
    display: block;
  }

  .basket-header {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    padding: 1.625rem 1.5625rem 1rem 1.25rem;
    border-bottom: solid 1px #B8B8B8;

    .basket-title {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2rem;
      margin: 0;
    }

    .basket-close-icon {
      cursor: pointer;
    }
  }

  .basket-body {
    padding: 1.5625rem 1.25rem;

    .basket-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      gap: 0.625rem;
      border-bottom: solid 1px #B8B8B8;
      padding-bottom: 1.25rem;

      .basket-item-image {
        scale: 36vw;
        height: auto;
        width: 8.885rem;
        height: 7.6875rem;
      }

      .basket-item-details {
        h4 {
          margin: 0;
          margin-bottom: 0.3125rem;
        }

        .basket-item-title {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5rem;
        }

        .basket-item-price {
          font-size: 1rem;
          font-weight: 800;
          line-height: 1.5rem;
          color: vars.$color-accent;
        }

        .basket-remove {
          font-size: 0.75rem;
          font-weight: 300;
          line-height: 1rem;
          color: #B8B8B8;
          cursor: pointer;
          text-decoration: underline;
          text-underline-offset: 0.2rem;
        }
      }
    }
  }

  .basket-footer {
    position: absolute;
    bottom: 0;
    width: 23rem;
    padding: 1.625rem 1.25rem 3.12rem 1.25rem;
    border-top: solid 1px #B8B8B8;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: vars.$font-base;
    gap: 1.875rem;

    h4 {
      margin: 0;
    }

    .basket-total {
      font-size: 1rem;
      font-weight: 600;
    }

    .checkout-button {
      width: 13.5rem;
      height: 2.925rem;
      border-radius: 3.125rem;
      background: vars.$color-accent;
      color: vars.$color-surface;
      border: none;
      cursor: pointer;
      transition: background 0.3s ease;
      font-size: 0.75rem;
      letter-spacing: 0.075rem;
      font-weight: 300;

      &:hover {
        background: color.adjust(vars.$color-accent, $lightness: -5%);
      }
    }

    .basket-continue {
      color: var(--black-text, #000);
      text-align: center;
      font-family: Roboto;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25rem; /* 166.667% */
      letter-spacing: 0.075rem;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: 10%; /* 1.2px */
      text-underline-offset: 50%; /* 6px */
      text-underline-position: from-font;
      cursor: pointer;
    }
  }
}