@use 'sass:color';
@use 'variables' as vars;

:root {
  --grid-columns: 6;
  --grid-margin: 1.875rem;
  --grid-gutter: 0.625rem;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  margin-top: 7.25rem;
  font-family: vars.$font-base;
  background: vars.$color-surface;
  color: vars.$color-text;
  text-align: center;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  column-gap: var(--grid-gutter);
  row-gap: var(--grid-margin);
  padding-inline: var(--grid-margin);
  align-content: start;
}

body > * {
  grid-column: 1 / -1;
}

.body-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  column-gap: var(--grid-gutter);
  row-gap: var(--grid-margin);
}

.body-container > * {
  grid-column: 1 / -1;
}

// .header {
//   height: 7.25rem;
//   display: grid;
//   grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
//   align-items: center;
//   background-color: vars.$color-header;
// }

.header {
  width: 100vw;
  left: 0;
  top: 0;
  position: absolute;
  height: 7.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$color-header;
  padding: 3.75rem 1.625rem 1.625rem 1.625rem;
}

.brand-logo {
  grid-column: 1 / span 2;
  justify-self: start;
}

.basket-icon {
  grid-column: -2 / -1;
  justify-self: end;
}

.description-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  row-gap: var(--grid-gutter);
  padding-block: 1.875rem;
}

.description-header,
.description-body {
  grid-column: 1 / span 6;
}

.description-header {
  font-size: 2rem;
  font-weight: normal;
}

.description-body {
  font-size: 1rem;
  font-weight: normal;
  font-family: vars.$font-secondary;
  line-height: 150%;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
  column-gap: var(--grid-gutter);
  row-gap: var(--grid-margin);
  padding-inline: var(--grid-margin);
  align-content: start;
  align-items: center;
  justify-items: center;
  padding-block: 3.83125rem;
  background-color: #ebf6f8;
  width: 100vw;
  margin-left: -1.875rem;
}

// .product-card-bg {
//   background-color: #ebf6f8;
//   width: 100vw;
//   position: relative;
// }

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2.8125rem;
  background-color: vars.$color-surface;
  border-radius: 10px;
  box-shadow: 3px 4px 10px 10px rgba(194, 230, 237, 0.5);
  grid-column: 1 / span 6;
  justify-self: center;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-title {
  font-weight: normal;
  font-size: 1.25rem;
}

.product-price {
  color: vars.$color-accent;
  font-family: vars.$font-secondary;
  font-size: 1rem;
  line-height: 140%;
}

.add-to-bag-button {
  width: 11.1875rem;
  height: 2.9rem;
  border-radius: 3.125rem;
  background: vars.$color-accent;
  color: vars.$color-surface;
  // padding: 0.9375rem 3.125rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 0.75rem;
  letter-spacing: 0.075rem;
  font-weight: 400;

  &:hover {
    background: color.adjust(vars.$color-accent, $lightness: -5%);
  }
}